.App {
  text-align: center;
}

.card {
  height: 50px;
  width: 40px;
  display: inline-flex;
  border: 1px solid black;
  justify-content: center;
  align-items: center;
}

.red {
  background: red;
}

.yellow {
  background: yellow;
}

.green {
  background: green;
}

.blue {
  background: blue;
}